.node {

}

.layer {

}

.node.node-output {
  
}

.node.node-output:hover{
  
}

.text-tooltip {
  fill: black;
}

.text-tooltip .text-tooltip-square {
  fill: #80f153;
}

.snake {
  fill: #80f153;
}